In [76]:
import numpy as np
import pandas as pd

In [77]:
X = pd.read_csv("sample_data/train.csv")
X.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [78]:
df = pd.read_csv("sample_data/cubic_zirconia.csv")
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [79]:
X.shape, df.shape

((193573, 11), (26967, 11))

In [80]:
X = pd.concat([X, df])
X.shape

(220540, 12)

In [81]:
X.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price,Unnamed: 0
0,0.0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619,NaN
1,1.0,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387,NaN
2,2.0,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772,NaN
3,3.0,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666,NaN
4,4.0,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453,NaN

In [82]:
X = X.iloc[:, :-1]
X.head()

    id  carat        cut color clarity  depth  table     x     y     z  price
0  0.0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1  1.0   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2  2.0   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3  3.0   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4  4.0   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [83]:
X.shape

(220540, 11)

In [84]:
X = X.dropna()

In [85]:
X.shape

(193573, 11)

In [86]:
drop_columns = ["id", "price"]
y = X["price"]
X = X.drop(drop_columns, axis=1)

In [87]:
y.head(5)

0    13619
1    13387
2     2772
3      666
4    14453
Name: price, dtype: int64

In [88]:
y.shape

(193573,)

In [89]:
cut_mapping = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
color_mapping = {'J': 1, 'I': 2, 'H': 3, 'G': 4, 'F': 5, 'E': 6, 'D': 7}
clarity_mapping = {'I3': 1, 'I2': 2, 'I1': 3, 'SI2': 4, 'SI1': 5, 'VS2': 6, 'VS1': 7, 'VVS2': 8, 'VVS1': 9, 'IF': 10, 'FL': 11}

X['cut'] = X['cut'].map(cut_mapping)
X['color'] = X['color'].map(color_mapping)
X['clarity'] = X['clarity'].map(clarity_mapping)

In [90]:
X.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   1.52    4      5        6   62.2   58.0  7.27  7.33  4.55
1   2.03    3      1        4   62.0   58.0  8.06  8.12  5.05
2   0.70    5      4        7   61.2   57.0  5.69  5.73  3.50
3   0.32    5      4        7   61.6   56.0  4.38  4.41  2.71
4   1.70    4      4        6   62.6   59.0  7.65  7.61  4.77

In [91]:
X.shape

(193573, 9)

In [92]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=1)

In [93]:
X_train

        carat  cut  color  clarity  depth  table     x     y     z
159000   2.07    4      2        5   62.5   57.0  8.13  8.06  5.06
175733   1.21    3      4        4   62.0   56.0  6.81  6.87  4.24
94531    1.51    4      4        5   61.2   60.0  7.40  7.32  4.49
98277    1.06    5      7        5   60.7   55.0  6.57  6.62  4.00
120576   0.34    5      2        5   61.8   57.0  4.50  4.51  2.79
...       ...  ...    ...      ...    ...    ...   ...   ...   ...
73349    0.41    3      7        7   62.8   57.0  4.72  4.74  2.97
109259   0.40    5      5        9   61.9   55.0  4.73  4.75  2.94
50057    0.38    5      5        9   62.2   56.0  4.64  4.67  2.89
5192     0.72    5      5        6   62.0   54.8  5.73  5.76  3.56
128037   0.33    5      4        6   62.3   54.0  4.34  4.37  2.72

[135501 rows x 9 columns]

In [94]:
from xgboost import XGBRegressor

model = XGBRegressor(n_estimators=500, learning_rate=0.05, random_state=1)

In [95]:
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.05, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=500, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=1, ...)

In [97]:
from sklearn.metrics import mean_absolute_error

valid_preds = model.predict(X_valid)
mae = mean_absolute_error(valid_preds, y_valid)

In [98]:
mae

292.0420008258791

In [99]:
X_test = pd.read_csv("sample_data/test.csv")
X_test.head()

       id  carat        cut color clarity  depth  table     x     y     z
0  193573   0.35      Ideal     D     VS2   62.3   56.0  4.51  4.54  2.82
1  193574   0.77  Very Good     F     SI2   62.8   56.0  5.83  5.87  3.68
2  193575   0.71      Ideal     I     VS2   61.9   53.0  5.77  5.74  3.55
3  193576   0.33      Ideal     G    VVS2   61.6   55.0  4.44  4.42  2.73
4  193577   1.20  Very Good     I     VS2   62.7   56.0  6.75  6.79  4.24

In [100]:
cut_mapping = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
color_mapping = {'J': 1, 'I': 2, 'H': 3, 'G': 4, 'F': 5, 'E': 6, 'D': 7}
clarity_mapping = {'I3': 1, 'I2': 2, 'I1': 3, 'SI2': 4, 'SI1': 5, 'VS2': 6, 'VS1': 7, 'VVS2': 8, 'VVS1': 9, 'IF': 10, 'FL': 11}

X_test['cut'] = X_test['cut'].map(cut_mapping)
X_test['color'] = X_test['color'].map(color_mapping)
X_test['clarity'] = X_test['clarity'].map(clarity_mapping)

In [102]:
X_test.head()

       id  carat  cut  color  clarity  depth  table     x     y     z
0  193573   0.35    5      7        6   62.3   56.0  4.51  4.54  2.82
1  193574   0.77    3      5        4   62.8   56.0  5.83  5.87  3.68
2  193575   0.71    5      2        6   61.9   53.0  5.77  5.74  3.55
3  193576   0.33    5      4        8   61.6   55.0  4.44  4.42  2.73
4  193577   1.20    3      2        6   62.7   56.0  6.75  6.79  4.24

In [103]:
ids = X_test["id"]
X_test = X_test.drop("id", axis=1)
X_test.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.35    5      7        6   62.3   56.0  4.51  4.54  2.82
1   0.77    3      5        4   62.8   56.0  5.83  5.87  3.68
2   0.71    5      2        6   61.9   53.0  5.77  5.74  3.55
3   0.33    5      4        8   61.6   55.0  4.44  4.42  2.73
4   1.20    3      2        6   62.7   56.0  6.75  6.79  4.24

In [104]:
ids

0         193573
1         193574
2         193575
3         193576
4         193577
           ...
129045    322618
129046    322619
129047    322620
129048    322621
129049    322622
Name: id, Length: 129050, dtype: int64

In [105]:
preds = model.predict(X_test)

In [106]:
output = pd.DataFrame({
    "id": ids,
    "price": preds
})
output

            id        price
0       193573   874.996033
1       193574  2541.492188
2       193575  2342.694092
3       193576   830.198059
4       193577  5686.054199
...        ...          ...
129045  322618  3690.773682
129046  322619  2530.572510
129047  322620  7584.053711
129048  322621  5739.089844
129049  322622  4271.017090

[129050 rows x 2 columns]

In [107]:
output.to_csv("sample_data/submission.csv", index=False)